# Feature Engineering Front End (FEFE)

In [4]:
from scoring.fefe import notebook_front_end, FeatureEngineeringAPI

# Data import

_Do not forget to cast the datetimes!_

In [5]:
import pandas as pd
import sys
sys.path.insert(0, '../scoring')
data = pd.read_csv('../scoring/fefe_core/tests/toy_data.csv', index_col=0)


# cast your datetimes, please!
data['TIME'] = pd.to_datetime(data['TIME'])
data['TRANSACTION_TIME'] = pd.to_datetime(data['TRANSACTION_TIME'])

data.head()

,CUSTOMER_ID,TIME,HOME_PLACE,TRANSACTION_AMOUNT,TRANSACTION_CLASS,TRANSACTION_FEE,TRANSACTION_PLACE,TRANSACTION_PURPOSE,TRANSACTION_TIME,TRANSACTION_TYPE,ID_TRANSACTION
0,0,2015-01-01 00:23:52,Sázava,999.0,ATM,99.413752,Sázava,cash,2014-01-02 04:32:51,DEBIT,772
1,0,2015-01-01 00:23:52,Sázava,784.0,ACCOUNT,110.171181,NaN,NaN,2014-01-08 06:22:34,CREDIT,4529
2,0,2015-01-01 00:23:52,Sázava,575.0,ACCOUNT,21.029130,NaN,travelling,2014-01-09 05:05:51,DEBIT,5093
3,0,2015-01-01 00:23:52,Sázava,1140.0,POS,45.302900,Skalice,hazard,2014-01-10 03:45:41,DEBIT,5666
4,0,2015-01-01 00:23:52,Sázava,1515.0,ACCOUNT,32.438470,NaN,NaN,2014-01-14 11:45:52,CREDIT,8379

# Front End (for new features)

This part should ease config creation.

However, it is not needed - see next part how to modify config.

In [6]:
notebook_front_end(data, port=8062)

Dash is running on http://127.0.0.1:8062/

 * Serving Flask app "scoring.fefe_core.front_end.app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8062/ (Press CTRL+C to quit)

# Config (output from front end)

The config is made from several parts. If you are not able to open the front end, you can still manipulate with the config manually.  

## Config description (tl;dr: look at the example)


<details>
<summary>
Definition of individual parts of the config and individual parameters.  

___
**\~\~\~ Click to expand \~\~\~**
___
</summary>


### meta:

_Definition of global informations, to be applied anywhere._

- granularity
    - describes the granularity to be used for aggregation.
    - possible values:
        - 'days' (or 'd', 'day', etc.)
        - 'weeks'
        - 'months'
        - 'years
        - 'order' 
            - takes into account only the order, not the time.
            - useful to get last transaction amount (order = 1)
            - useful for calculation using `NUM_GROUP` variables
- index
    - name of the index column in the dataset
    - usually 'CUSTOMER_ID', 'SKP_CREDIT_CASE', 'CUID' ...
- inf_value
    - value to replace infinities, if they appear in data
- nan_value
    - value to replace nans, if they appear in data
- target_time
    - time column, which is used as decision time.
- transaction_time
    - time column, to be used as time of the individual transaction.
- order
    - specification of column to be used for subsetting of the data using time ranges.
    - 'TIME_ORDER' means that column with such name will be created from `target_time` and `transaction_time`
    - otherwise FEFE will use this specified column.

### simple:

_Definition of simple variables._

- VARIABLE_NAME:
    - name of varibale, on which following transformations will be applied.
    - transformations:
        - functions
            - list of functions
            - usually, `pandas.DataFrame.GroupBy.[fun]` is applied
        - segmentations
            - list of variable names or `str(None)` (None, but as a string)
            - values from such variables are used in pd.DataFrame.query like `VARIABLE_NAME == 'value'`
        - time_ranges
            - list of tuples (which are saved as strings)
            - single tuple means from-to, which will be used with `order` column
        - queries
            - string to be put into `pd.DataFrame.query()` function
            - possible inputs:
                - `VARIABLE == 'value'` (notice double `=`)
                - `VARIABLE < 20`
                - `VARIABLE_1 == 'value_1';VARIABLE_1 == 'value_2'`
                    - this will iterate over individual queries
                - ```VARIABLE_1 == 'value_1';VARIABLE_1 =='value_2';VARIABLE_2 == 'value_a';VARIABLE_2 == 'value_b'```
                - ...

### ratio:

_Definition of ratio variables_

- DENOMINATOR_VARIABLE_NAME
    - NUMERATOR_VARIABLE_NAME
        - transformations:
            - similar like in simple case
            - functions are defined as tuple of functions
            - time_ranges are tuples of tuples of integers (two time ranges together)
            - segmentations & queries are applied at the variables at the same time

### time_since:

- TIME_VARIABLE_NAME
    - transformations:
        - from - whether take first or last event
        - segmentations  - same as in simple
        - queries - same as in simple
          
</details>

## Config example

In [7]:
CONFIG={
    'meta': {
        'granularity': 'days',
        'index': 'CUSTOMER_ID',
        'target_time': 'TIME',
        'transaction_time': 'TRANSACTION_TIME',
        'inf_value': None,
        'nan_value': None,
        'order': 'TIME_ORDER',

    },
    'ratio': {
        'TRANSACTION_AMOUNT': {
            'TRANSACTION_AMOUNT': {
                'functions': ["('min', 'min')", "('max', 'max')", "('mean', 'mean')", "('sum', 'sum')"],
                'segmentations': ['None', 'TRANSACTION_PURPOSE'],
                'time_ranges': ['((0, 30), (30, 180))', '((0, 180), (180, 360))'],
            },
        },
    },
    'simple': {
        'TRANSACTION_AMOUNT': {
            'functions': ['min', 'max', 'sum', 'mean'],
            'queries': "TRANSACTION_FEE < 100;TRANSACTION_CLASS == 'ATM'",
            'segmentations': ['None', 'TRANSACTION_PURPOSE', 'TRANSACTION_TYPE', 'TRANSACTION_PLACE'],
            'time_ranges': ['(0, 360)', '(0, inf)'],
        },
        'TRANSACTION_FEE': {
            'functions': ['min', 'max', 'sum', 'mean'],
            'queries': "TRANSACTION_FEE < 100;TRANSACTION_CLASS == 'ATM'",
            'segmentations': ['None', 'TRANSACTION_PURPOSE', 'TRANSACTION_TYPE'],
            'time_ranges': ['(0, 360)', '(0, inf)'],
        },
        'TRANSACTION_PURPOSE': {
            'functions': ['mode', 'mode_multicolumn'],
            'segmentations': ['None'],
            'time_ranges': ['(0, 360)'],
        }
    },
    'time_since': {'TRANSACTION_TIME': {'from': ['first', 'last'], 'queries': "TRANSACTION_PURPOSE=='hazard'"}},
}

# Initialisation of calculation

In [8]:
name_shortening_dictionary = {
    "TRANSACTION_FEE":"FEE",
    "TRANSACTION_AMOUNT": "AMNT",
    "TRAVELLING": "TRVL",
    "HAZARD": "HZRD",
    "TRANSACTION_PURPOSE": "PRPS",
    "TRANSACTION": "TNX",
    "_EQ_": "_",
    "_0D_": "_",
    "_INFD":"",   
}

fe = FeatureEngineeringAPI(
    config=CONFIG,
    shortening_dictionary=name_shortening_dictionary,
    logger_kwargs={"log_level": 20})

2020-12-09 11:53:40,904 - scoring.fefe_core.utils.logger - INFO - Logger created.

# Calculation of dataframe

In [9]:
from IPython.display import display
with pd.option_context('display.max_columns', 200):
    
    display(fe.dataframe(data, max_nan_share=0.9))

2020-12-09 11:53:42,770 - scoring.fefe_core.utils.logger - INFO -
            Calculating SIMPLE features
            _________________________

2020-12-09 11:53:43,154 - scoring.fefe_core.utils.logger - WARNING - Missing config part: queries. Using default value:
2020-12-09 11:53:43,189 - scoring.fefe_core.utils.logger - INFO - Number of simple features (before pruning): 258
2020-12-09 11:53:43,191 - scoring.fefe_core.utils.logger - INFO - # of omitted features: 1
2020-12-09 11:53:43,193 - scoring.fefe_core.utils.logger - INFO - Number of simple features (after pruning): 258
2020-12-09 11:53:43,283 - scoring.fefe_core.utils.logger - INFO -
            Calculating RATIO features
            _________________________

2020-12-09 11:53:43,285 - scoring.fefe_core.utils.logger - WARNING - Missing config part: queries. Using default value:
2020-12-09 11:53:43,287 - scoring.fefe_core.utils.logger - INFO - Calculating TRANSACTION_AMOUNT / TRANSACTION_AMOUNT
2020-12-09 11:53:43,482 - scoring.fefe_core.utils.logger - INFO - Number of simple features (before pruning): 64
2020-12-09 11:53:43,483 - scoring.fefe_core.utils.logger - INFO - # of omitted features: 16
2020-12-09 11:53:43,484 - scoring.fefe_core.utils.logger - INFO - Number of simple features (after pruning): 48
2020-12-09 11:53:43,746 - scoring.fefe_core.utils.logger - INFO - Number of simple features (before pruning): 64
2020-12-09 11:53:43,748 - scoring.fefe_core.utils.logger - INFO - # of omitted features: 0
2020-12-09 11:53:43,749 - scoring.fefe_core.utils.logger - INFO - Number of simple features (after pruning): 64
2020-12-09 11:53:43,797 - scoring.fefe_core.utils.logger - INFO - FINAL: Number of ratio features: 48
2020-12-09 11:53:43,824 - scoring.fefe_core.utils.logger - INFO -
            Calculating TIME_SINCE features
            _________________________

2020-12-09 11:53:43,826 - scoring.fefe_core.utils.logger - WARNING - Missing config part: units. Using default value: ['days']
2020-12-09 11:53:43,827 - scoring.fefe_core.utils.logger - WARNING - Missing config part: segmentations. Using default value: ['None']
2020-12-09 11:53:43,846 - scoring.fefe_core.utils.logger - INFO - Number of Time Since features: 4
2020-12-09 11:53:43,853 - scoring.fefe_core.utils.logger - INFO - FINAL NUMBER OF FEATURES: 312

,MIN_AMNT_360D_FEE_LT_100,MAX_AMNT_360D_FEE_LT_100,SUM_AMNT_360D_FEE_LT_100,MEAN_AMNT_360D_FEE_LT_100,MIN_AMNT_FEE_LT_100,MAX_AMNT_FEE_LT_100,SUM_AMNT_FEE_LT_100,MEAN_AMNT_FEE_LT_100,MIN_AMNT_360D_TNX_CLASS_ATM,MAX_AMNT_360D_TNX_CLASS_ATM,SUM_AMNT_360D_TNX_CLASS_ATM,MEAN_AMNT_360D_TNX_CLASS_ATM,MIN_AMNT_TNX_CLASS_ATM,MAX_AMNT_TNX_CLASS_ATM,SUM_AMNT_TNX_CLASS_ATM,MEAN_AMNT_TNX_CLASS_ATM,MIN_AMNT_360D,MAX_AMNT_360D,SUM_AMNT_360D,MEAN_AMNT_360D,MIN_AMNT,MAX_AMNT,SUM_AMNT,MEAN_AMNT,MIN_AMNT_360D_PRPS_CASH,MAX_AMNT_360D_PRPS_CASH,SUM_AMNT_360D_PRPS_CASH,MEAN_AMNT_360D_PRPS_CASH,MIN_AMNT_PRPS_CASH,MAX_AMNT_PRPS_CASH,SUM_AMNT_PRPS_CASH,MEAN_AMNT_PRPS_CASH,MIN_AMNT_360D_PRPS_NULL,MAX_AMNT_360D_PRPS_NULL,SUM_AMNT_360D_PRPS_NULL,MEAN_AMNT_360D_PRPS_NULL,MIN_AMNT_PRPS_NULL,MAX_AMNT_PRPS_NULL,SUM_AMNT_PRPS_NULL,MEAN_AMNT_PRPS_NULL,MIN_AMNT_360D_PRPS_TRVL,MAX_AMNT_360D_PRPS_TRVL,SUM_AMNT_360D_PRPS_TRVL,MEAN_AMNT_360D_PRPS_TRVL,MIN_AMNT_PRPS_TRVL,MAX_AMNT_PRPS_TRVL,SUM_AMNT_PRPS_TRVL,MEAN_AMNT_PRPS_TRVL,MIN_AMNT_360D_PRPS_HZRD,MAX_AMNT_360D_PRPS_HZRD,SUM_AMNT_360D_PRPS_HZRD,MEAN_AMNT_360D_PRPS_HZRD,MIN_AMNT_PRPS_HZRD,MAX_AMNT_PRPS_HZRD,SUM_AMNT_PRPS_HZRD,MEAN_AMNT_PRPS_HZRD,MIN_AMNT_360D_PRPS_GROCERIES,MAX_AMNT_360D_PRPS_GROCERIES,SUM_AMNT_360D_PRPS_GROCERIES,MEAN_AMNT_360D_PRPS_GROCERIES,MIN_AMNT_PRPS_GROCERIES,MAX_AMNT_PRPS_GROCERIES,SUM_AMNT_PRPS_GROCERIES,MEAN_AMNT_PRPS_GROCERIES,MIN_AMNT_360D_PRPS_CHARITY,MAX_AMNT_360D_PRPS_CHARITY,SUM_AMNT_360D_PRPS_CHARITY,MEAN_AMNT_360D_PRPS_CHARITY,MIN_AMNT_PRPS_CHARITY,MAX_AMNT_PRPS_CHARITY,SUM_AMNT_PRPS_CHARITY,MEAN_AMNT_PRPS_CHARITY,MIN_AMNT_360D_PRPS_LUXURY,MAX_AMNT_360D_PRPS_LUXURY,SUM_AMNT_360D_PRPS_LUXURY,MEAN_AMNT_360D_PRPS_LUXURY,MIN_AMNT_PRPS_LUXURY,MAX_AMNT_PRPS_LUXURY,SUM_AMNT_PRPS_LUXURY,MEAN_AMNT_PRPS_LUXURY,MIN_AMNT_360D_TNX_TYPE_DEBIT,MAX_AMNT_360D_TNX_TYPE_DEBIT,SUM_AMNT_360D_TNX_TYPE_DEBIT,MEAN_AMNT_360D_TNX_TYPE_DEBIT,MIN_AMNT_TNX_TYPE_DEBIT,MAX_AMNT_TNX_TYPE_DEBIT,SUM_AMNT_TNX_TYPE_DEBIT,MEAN_AMNT_TNX_TYPE_DEBIT,MIN_AMNT_360D_TNX_TYPE_CREDIT,MAX_AMNT_360D_TNX_TYPE_CREDIT,SUM_AMNT_360D_TNX_TYPE_CREDIT,MEAN_AMNT_360D_TNX_TYPE_CREDIT,MIN_AMNT_TNX_TYPE_CREDIT,MAX_AMNT_TNX_TYPE_CREDIT,SUM_AMNT_TNX_TYPE_CREDIT,MEAN_AMNT_TNX_TYPE_CREDIT,MIN_AMNT_360D_TNX_PLACE_SÁZAVA,MAX_AMNT_360D_TNX_PLACE_SÁZAVA,SUM_AMNT_360D_TNX_PLACE_SÁZAVA,MEAN_AMNT_360D_TNX_PLACE_SÁZAVA,...,MIN_FEE_PRPS_HZRD,MAX_FEE_PRPS_HZRD,SUM_FEE_PRPS_HZRD,MEAN_FEE_PRPS_HZRD,MIN_FEE_360D_PRPS_GROCERIES,MAX_FEE_360D_PRPS_GROCERIES,SUM_FEE_360D_PRPS_GROCERIES,MEAN_FEE_360D_PRPS_GROCERIES,MIN_FEE_PRPS_GROCERIES,MAX_FEE_PRPS_GROCERIES,SUM_FEE_PRPS_GROCERIES,MEAN_FEE_PRPS_GROCERIES,MIN_FEE_360D_PRPS_CHARITY,MAX_FEE_360D_PRPS_CHARITY,SUM_FEE_360D_PRPS_CHARITY,MEAN_FEE_360D_PRPS_CHARITY,MIN_FEE_PRPS_CHARITY,MAX_FEE_PRPS_CHARITY,SUM_FEE_PRPS_CHARITY,MEAN_FEE_PRPS_CHARITY,MIN_FEE_360D_PRPS_LUXURY,MAX_FEE_360D_PRPS_LUXURY,SUM_FEE_360D_PRPS_LUXURY,MEAN_FEE_360D_PRPS_LUXURY,MIN_FEE_PRPS_LUXURY,MAX_FEE_PRPS_LUXURY,SUM_FEE_PRPS_LUXURY,MEAN_FEE_PRPS_LUXURY,MIN_FEE_360D_TNX_TYPE_DEBIT,MAX_FEE_360D_TNX_TYPE_DEBIT,SUM_FEE_360D_TNX_TYPE_DEBIT,MEAN_FEE_360D_TNX_TYPE_DEBIT,MIN_FEE_TNX_TYPE_DEBIT,MAX_FEE_TNX_TYPE_DEBIT,SUM_FEE_TNX_TYPE_DEBIT,MEAN_FEE_TNX_TYPE_DEBIT,MIN_FEE_360D_TNX_TYPE_CREDIT,MAX_FEE_360D_TNX_TYPE_CREDIT,SUM_FEE_360D_TNX_TYPE_CREDIT,MEAN_FEE_360D_TNX_TYPE_CREDIT,MIN_FEE_TNX_TYPE_CREDIT,MAX_FEE_TNX_TYPE_CREDIT,SUM_FEE_TNX_TYPE_CREDIT,MEAN_FEE_TNX_TYPE_CREDIT,MODE_PRPS_360D,MODE_MULTICOLUMN_PRPS_360D_0,MODE_MULTICOLUMN_PRPS_360D_1,MODE_MULTICOLUMN_PRPS_360D_2,MIN_AMNT_30D_DIV_MIN_AMNT_30D_180D,MAX_AMNT_30D_DIV_MAX_AMNT_30D_180D,MEAN_AMNT_30D_DIV_MEAN_AMNT_30D_180D,SUM_AMNT_30D_DIV_SUM_AMNT_30D_180D,MIN_AMNT_180D_DIV_MIN_AMNT_180D_360D,MAX_AMNT_180D_DIV_MAX_AMNT_180D_360D,MEAN_AMNT_180D_DIV_MEAN_AMNT_180D_360D,SUM_AMNT_180D_DIV_SUM_AMNT_180D_360D,MIN_AMNT_30D_PRPS_CASH_DIV_MIN_AMNT_30D_180D_PRPS_CASH,MAX_AMNT_30D_PRPS_CASH_DIV_MAX_AMNT_30D_180D_PRPS_CASH,MEAN_AMNT_30D_PRPS_CASH_DIV_MEAN_AMNT_30D_180D_PRPS_CASH,SUM_AMNT_30D_PRPS_CASH_DIV_SUM_AMNT_30D_180D_PRPS_CASH,MIN_AMNT_180D_PRPS_CASH_DIV_MIN_AMNT_180D_360D_PRPS_CASH,MAX_AMNT_180D_PRPS_CASH_DIV_MAX_AMNT_180D_360D_PRPS_CASH,MEAN_AMNT_180D_PRPS_CASH_DIV_MEAN_AMNT_180D_360D_PRPS_CASH,SUM_AMNT_180D_PRPS_CASH_DIV_SUM_AMNT_180D_360D_PRPS_CASH,MIN_AMNT_30D_PRPS_NULL_DIV_MIN_AMNT_30D_180D_PRPS_NULL,MAX_AMNT_30D_PRPS_NULL_DIV_MAX_AMNT_30D_180D_PRPS_NULL,MEAN_AMNT_30D_PRPS_NULL_DIV_MEAN_AMNT_30D_180D_PRPS_NULL,SUM_AMNT_30D_PRPS_NULL_DIV_SUM_AMNT_30D_180D_PRPS_NULL,MIN_AMNT_180D_PRPS_NULL_DIV_MIN_AMNT_180D_360D_PRPS_NULL,MAX_AMNT_180D_PRPS_NULL_DIV_MAX_AMNT_180D_360D_PRPS_NULL,MEAN_AMNT_180D_PRPS_NULL_DIV_MEAN_AMNT_180D_360D_PRPS_NULL,SUM_AMNT_180D_PRPS_NULL_DIV_SUM_AMNT_180D_360D_PRPS_NULL,MIN_AMNT_180D_PRPS_TRVL_DIV_MIN_AMNT_180D_360D_PRPS_TRVL,MAX_AMNT_180D_PRPS_TRVL_DIV_MAX_AMNT_180D_360D_PRPS_TRVL,MEAN_AMNT_180D_PRPS_TRVL_DIV_MEAN_AMNT_180D_360D_PRPS_TRVL,SUM_AMNT_180D_PRPS_TRVL_DIV_SUM_AMNT_180D_360D_PRPS_TRVL,MIN_AMNT_180D_PRPS_HZRD_DIV_MIN_AMNT_180D_360D_PRPS_HZRD,MAX_AMNT_180D_PRPS_HZRD_DIV_MAX_AMNT_180D_360D_PRPS_HZRD,MEAN_AMNT_180D_PRPS_HZRD_DIV_MEAN_AMNT_180D_360D_PRPS_HZRD,SUM_AMNT_180D_PRPS_HZRD_DIV_SUM_AMNT_180D_360D_PRPS_HZRD,MIN_AMNT_30D_PRPS_GROCERIES_DIV_MIN_AMNT_30D_180D_PRPS_GROCERIES,MAX_AMNT_30D_PRPS_GROCERIES_DIV_MAX_AMNT_30D_180D_PRPS_GROCERIES,MEAN_AMNT_30D_PRPS_GROCERIES_DIV_MEAN_AMNT_30D_180D_PRPS_GROCERIES,SUM_AMNT_30D_PRPS_GROCERIES_DIV_SUM_AMNT_30D_180D_PRPS_GROCERIES,MIN_AMNT_180D_PRPS_GROCERIES_DIV_MIN_AMNT_180D_360D_PRPS_GROCERIES,MAX_AMNT_180D_PRPS_GROCERIES_DIV_MAX_AMNT_180D_360D_PRPS_GROCERIES,MEAN_AMNT_180D_PRPS_GROCERIES_DIV_MEAN_AMNT_180D_360D_PRPS_GROCERIES,SUM_AMNT_180D_PRPS_GROCERIES_DIV_SUM_AMNT_180D_360D_PRPS_GROCERIES,MIN_AMNT_180D_PRPS_CHARITY_DIV_MIN_AMNT_180D_360D_PRPS_CHARITY,MAX_AMNT_180D_PRPS_CHARITY_DIV_MAX_AMNT_180D_360D_PRPS_CHARITY,MEAN_AMNT_180D_PRPS_CHARITY_DIV_MEAN_AMNT_180D_360D_PRPS_CHARITY,SUM_AMNT_180D_PRPS_CHARITY_DIV_SUM_AMNT_180D_360D_PRPS_CHARITY,MIN_AMNT_180D_PRPS_LUXURY_DIV_MIN_AMNT_180D_360D_PRPS_LUXURY,MAX_AMNT_180D_PRPS_LUXURY_DIV_MAX_AMNT_180D_360D_PRPS_LUXURY,MEAN_AMNT_180D_PRPS_LUXURY_DIV_MEAN_AMNT_180D_360D_PRPS_LUXURY,SUM_AMNT_180D_PRPS_LUXURY_DIV_SUM_AMNT_180D_360D_PRPS_LUXURY,FIRST_TNX_TIME_D_PRPS_HZRD,LAST_TNX_TIME_D_PRPS_HZRD,FIRST_TNX_TIME_D,LAST_TNX_TIME_D
CUSTOMER_ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,563.0,1515.0,16149.0,849.947368,563.0,1515.0,17148.0,857.400000,563.0,875.0,3641.0,728.200000,563.0,999.0,4640.0,773.333333,532.0,1515.0,19487.0,847.260870,532.0,1515.0,20486.0,853.583333,532.0,875.0,4173.0,695.500000,532.0,999.0,5172.0,738.857143,678.0,1515.0,6998.0,874.750000,678.0,1515.0,6998.0,874.750000,575.0,1164.0,5343.0,890.500000,575.0,1164.0,5343.0,890.500000,923.0,1140.0,2063.0,1031.5,923.0,1140.0,2063.0,1031.5,910.0,910.0,910.0,910.000000,910.0,910.0,910.0,910.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.0,1164.0,12489.0,832.600000,532.0,1164.0,13488.0,843.000000,678.0,1515.0,6998.0,874.750000,678.0,1515.0,6998.0,874.750000,653.0,875.0,1528.0,764.000000,...,45.302900,228.034717,273.337617,136.668808,35.865505,35.865505,35.865505,35.865505,35.865505,35.865505,35.865505,35.865505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.627257,228.034717,812.550370,54.170025,5.627257,228.034717,911.964122,56.997758,4.939394,110.171181,439.345442,54.918180,4.939394,110.171181,439.345442,54.918180,cash,cash,travelling,NaN,1.243363,0.751718,1.021707,0.510853,1.274436,0.768317,0.999317,0.352700,NaN,NaN,NaN,NaN,1.584586,1.237624,1.399593,0.699796,NaN,NaN,NaN,NaN,0.868118,0.523432,0.763701,0.458220,2.024348,1.059145,1.392678,0.278536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,355.859850,270.200845,363.827095,3.394757
1,76.0,1144.0,11887.0,475.480000,76.0,1144.0,11887.0,475.480000,76.0,1144.0,1983.0,495.750000,76.0,1144.0,1983.0,495.750000,76.0,1144.0,11887.0,475.480000,76.0,1144.0,11887.0,475.480000,76.0,1144.0,2767.0,395.285714,76.0,1144.0,2767.0,395.285714,126.0,1137.0,3162.0,527.000000,126.0,1137.0,3162.0,527.000000,242.0,780.0,2055.0,513.750000,242.0,780.0,2055.0,513.750000,284.0,744.0,1028.0,514.0,284.0,744.0,1028.0,514.0,509.0,662.0,1171.0,585.500000,509.0,662.0,1171.0,585.500000,265.0,805.0,1456.0,485.333333,265.0,805.0,1456.0,485.333333,248.0,248.0,248.0,248.000000,248.0,248.0,248.0,248.000000,76.0,1144.0,8725.0,459.210526,76.0,1144.0,8725.0,459.210526,126.0,1137.0,3162.0,527.000000,126.0,1137.0,3162.0,527.000000,76.0,1144.0,2567.0,427.833333,...,6.675006,19.485217,26.160222,13.080111,11.659155,20.325680,31.984835,15.992417,11.659155,20.325680,31.984835,15.992417,5.687370,17.163575,33.420766,11.140255,5.687370,17.163575,33.420766,11.140255,5.250011,5.250011,5.250011,5.250011,5.250011,5.250011,5.250011,5.250011,1.400318,23.265949,192.833448,10.149129,1.400318,23.265949,192.833448,10.149129,2.978574,18.679570,58.905611,9.817602,2.978574,18.679570,58.905611,9.817602,cash,cash,NaN,NaN,7.289474,0.487247,1.310312,0.131031,0.678571,0.993881,0.856605,0.673047,NaN,NaN,NaN,NaN,0.678571,0.150350,0.246129,0.098452,NaN,NaN,NaN,NaN,1.865079,1.530283,1.532961,0.766480,0.310256,0.710256,0.544872,1.634615,2.619718,2.619718,2.619718,2.619718,NaN,NaN,NaN,NaN,0.768882,0.768882,0.768882,0.768882,1.456604,0.479503,0.721495,0.360748,NaN,NaN,NaN,NaN,256.019178,140.079225,309.931435,28.853056
2,93.0,539.0,4612.0,307.466667,93.0,539.0,4612.0,307.466667,299.0,299.0,299.0,299.000000,299.0,299.0,299.0,299.000000,93.0,539.0,4612.0,307.466667,93.0,539.0,4612.0,307.466667,135.0,445.0,879.0,293.000000,135.0,445.0,879.0,293.000000,170.0,342.0,1071.0,267.750000,170.0,342.0,1071.0,267.750000,106.0,343.0,449.0,224.500000,106.0,343.0,449.0,224.500000,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,365.0,513.0,878.0,439.000000,365.0,513.0,878.0,439.000000,516.0,516.0,516.0,516.000000,516.0,516.0,516.0,516.000000,187.0,539.0,726.0,363.000000,187.0,539.0,726.0,363.000000,93.0,539.0,3541.0,321.909091,93.0,539.0,3541.0,321.909091,170.0,342.0,1071.0,267.750000,170.0,342.0,1071.0,267.750000,106.0,513.0,918.0,306.000000,...,0.630212,0.630212,0.630212,0.630212,1.734135,2.553946,4.288081,2.144040,1.734135,2.553946,4.288081,2.144040,1.455662,1.455662,1.455662,1.455662,1.455662,1.455662,1.455662,1.455662,0.523697,4.129868,4.653565,2.326783,0.523697,4.129868,4.653565,2.326783,0.388987,4.129868,18.410457,1.673678,0.388987,4.129868,18.410457,1.673678,0.865780,1.601129,4.903317,1.225829,0.865780,1.601129,4.903317,1.225829,cash,cash,NaN,NaN,NaN,NaN,NaN,NaN,0.877358,1.476712,1.413330,1.236663,NaN,NaN,NaN,NaN,0.451505,1.488294,0.969900,1.939799,NaN,NaN,NaN,NaN,1.817647,0.903509,1.216535,0.405512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.405479,1.405479,1.405479,1.405479,NaN,NaN,NaN,NaN,2.882353,2.882353,2.882353,2.882353,61.211794,61.211794,306.777407,40.209491
3,667.0,1651.0,13737.0,1056.692308,667.0,1651.0,13737.0,1056.692308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,667.0,1651.0,13737.0,1056.692308,667.0,1651.0,13737.0,1056.692308,879.0,879.0,879.0,879.000000,879.0,879.0,879.0,879.000000,667.0,667.0,667.0,667.000000,667.0,667.0,667.0,667.000000,1122.0,1151.0,2273.0,1136.500000,1122.0,1151.0,2273.0,1136.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1046.0,1220.0,4439.0,1109.750000,1046.0,1220.0,4439.0,1109.750000,1651.0,1651.0,1651.0,1651.000000,1651.0,1651.0,1651.0,1651.000000,872.0,1046.0,3828.0,957.000000,872.0,1046.0,3828.0,957.000000,872.0,1651.0,13070.0,1089.166667,872.0,1651.0,13070.0,1089.166667,667.0,667.0,667.0,667.000000,667.0,667.0,667.0,667.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.990237,13.960077,33.557686,8.389422,0.990237,13.960077,33.557686,8.389422,48.865630,48.865630,48.865630,48.865630,48.865630,48.865630,48.865630,48.865630,9.652424,18.598584,54.883512,13.720878,9.652424,18.598584,54.883512,13.720878,0.990237,48.865630,187.976112,15.664676,0.990237,48.865630,187.976112,15.664676,11.413576,11.413576,11.413576,11.413576,11.413576,11.413576,11.413576,11.413576,groceries,groceries,luxury,NaN,NaN,NaN,NaN,NaN,1.568216,1.353279,1.261503,0.560668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.025847,1.025847,1.025847,1.025847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.039197,0.890984,0.972852,0.324284,NaN,NaN,NaN,NaN,1.199541,1.022483,1.127965,0.375988,NaN,NaN,341.754826,75.707338
5,823.0,1440.0,18459.0,1085.823529,823.0,1440.0,19637.0,1090.944444,1323.0,1323.0,1323.0,1323.000000,1323.0,1323.0,1323.0,1323.000000,823.0,1440.0,18459.0,1085.823529,823.0,1440.0,19637.0,1090.944444,977.0,1440.0,7984.0,1140.571429,977.0,1440.0,9162.0,1145.250000,849.0,1240.0,5377.0,1075.400000,849.0,1240.0,5377.0,1075.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,823.0,823.0,823.0,823.0,823.0,823.0,823.0,823.0,955.0,955.0,955.0,955.000000,955.0,955.0,955.0,955.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,966.0,1211.0,3320.0,1106.666667,966.0,1211.0,3320.0,1106.666667,823.0,1440.0,13082.0,1090.166667,823.0,1440.0,14260.0,1096.923077,849.0,1240.0,5377.0,1075.400000,849.0,1240.0,5377.0,1075.400000,1071.0,1071.0,1071.0,1071.000000,...,32.795485,32.795485,32.795485,32.795485,19.496891,19.496891,19.496891,19.496891,19.496891,19.496891,19.496891,19.496891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.202999,99.470593,161.233773,53.744591,24.202999,99.470593,161.233773,53.744591,10.591169,99.470593,407.014635,33.917886,10.591169,99.470593,442.697944,34.053688,3.448513,83.416165,223.412425,44.682485,3.448513,83.416165,223.412425,44.682485,cash,cash,NaN,NaN,1.388821,0.918750,1.148503,0.328144,0.969376,1.161290,1.046473,1.177282,1.284466,0.918750,1.149685,0.287421,1.054248,1.332100,1.151798,2.879495,NaN,NaN,NaN,NaN,1.322733,0.905645,1.055947,0.263987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.797688,0.943848,0.870768,1.741536,95.642407,95.642407,362.206481,3.953021
6,54.0,762.0,8467.0,384.863636,54.0,762.0,8467.0,384.863636,144.0,762.0,906.0,453.000000,144.0,762.0,906.0,453.000000,54.0,762.0,8467.0,384.863636,54.0,762.0,8467.0,384.863636,144.0,762.0,2612.0,373.142857,144.0,762.0,2612.0,373.142857,72.0,754.0,2606.0,372.285714,72.0,754.0,2606.0,372.285714,288.0,436.0,724.0,362.000000,288.0,436.0,724.0,362.000000,489.0,489.0,489.0,489.0,489.0,489.0,489.0,489.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.0,611.0,901.0,450.500000,290.0,611.0,901.0,450.500000,54.0,554.0,1135.0,378.333333,54.0,554.0,1135.0,378.333333,54.0,762.0,5861.0,390.733333,54.0,762.0,5861.0,390.733333,72.0,754.0,2606.0,372.285714,72.0,754.0,2606.0,372.285714,54.0,501.0,942.0,314.000000,...,15.062324,15.062324,15.062324,15.062324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.887598,62.581486,81.469084,40.734542,18.887598,62.581486,81.469084,40.734542,1.760096,70.239533,98.846237,32.948746,1.760096,70.239533,98.846237,32.948746,1.760096,86.030570,430.127845,28.675190,1.760096,86.030570,430.127845,28.675190,2.246771,73.704286,163.048433,23.292633,2.246771,73.704286,163.048433,23.292633,cash,cash,NaN,NaN,10.583333,1.375451,2.588064,0.369723,1.333333,1.010610,0.875310,0.500177,3.868020,1.520958,2.183381,1.091691,1.368056,1.968992,1.689815,1.267361,NaN,NaN,NaN,NaN,0.179551,0.502653,0.337646,0.450195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.259259,1.051233,1.907057,0.953528,207.990938,207.990938,359.907234,2.020231
7,4.0,666.0,5857.0,366.062500,4.0,666.0,6201.0,364.764706,332.0,332.0,332.0,332.000000,332.0,344.0,676.0,338.000000,4.0,666.0,5857.0,366.062500,4.0,666.0,6201.0,364.764706,332.0,420.0,1134.0,378.000000,332.0,420.0,1478.0,369.500000,121.0,542.0,1971.0,281.571429,121.0,542.0,1971.0,281.571429,409.0,639.0,1048.0,524.000000,409.0,639.0,1048.0,524.000000,560.0,666.0,1226.0,613.0,560.0,666.0,1226.0,613.0,4.0,474.0,478.0,239.000000,4.0,474.0,478.0,239.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,666.0,3886.0,431.777778,4.0,666.0,4230.0,423.000000,121.0,542.0,1971.0,281.571429,121.0,542.0,1971.0,281.571429,4.0,666.0,1729.0,432.250000,...,4.493879,23.612859,28.106738,14.053369,0.026629,2.654920,2.681549,1.340775,0.026629,2.654920,2.681549,1.340775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.026629,30.952459,98.070253,10.896695,0.026629,30.952459,102.000115,10.200011,1.249698,15.483963,47.783759,6.826251,1.249698,15.483963,47.783759,6.826251,cash,cash,NaN,NaN,30.250000,1.033210,0.755573,0.323817,0.018519,0.840841,0.821602,1.369337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.300248,0.271218,0.283598,0.283598,0.560185,1.888502,1.200198,1.600264,NaN,NaN,NaN,NaN,0.840841,0.840841,0.840841,0.840841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.808808,19.135868,362.916748,19.135868
8,48.0,996.0,4098.0,409.800000,48.0,996.0,4098.0,409.800000,48.0,48.0,48.0,48.000000,48.0,48.0,48.0,48.000000,48.0,996.0,4098.0,409.800000,48.0,996.0,4098.0,409.800000,48.0,468.0,516.0,258.000000,48.0,468.0,516.0,258.000000,324.0,724.0,1431.0,477.000000,324.0,724.0,1431.0,477.000000,259.0,996.0,1255.0,627.500000,259.0,996.0,1255.0,627.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,555.0,896.0,298.666667,62.0,555.0,896.0,298.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,996.0,2667.0,381.000000,48.0,996.0,2667.0,381.000000,324.0,724.0,1431.0,477.000000,324.0,724.0,1431.0,477.000000,48.0,468.0,516.0,258.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.899760,14.786642,24.044651,8.014884,2.899760,14.786642,24.044651,8.014884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.398701,21.294820,68.497045,9.785292,2.398701,21.294820,68.497045,9.785292,13.331523,48.374973,79.110439,26.370146,13.331523,48.374973,79.110439,26.370146,charity,charity,NaN,NaN,5.812500,0.502703,0.800000,0.200000,0.774194,0.557229,0.690594,0.690594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.845953,0.447514,0.585366,0.292683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,8.951613,6.725806,13.451613,NaN,NaN,NaN,NaN,NaN,NaN,353.134340,11.362442
9,1.0,713.0,5504.0,423.384615,1.0,713.0,5504.0,423.384615,199.0,397.0,923.0,307.666667,199.0,397.0,923.0,307.666667,1.0,713.0,5504.0,423.384615,1.0,713.0,5504.0,423.384615,199.0,509.0,2149.0,358.166667,199.0,509.0,2149.0,358.166667,448.0,713.0,1837.0,612.333333,448.0,713.0,1837.0,612.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,485.0,910.0,303.333333,1.0,485.0,910.0,303.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,608.0,608.0,608.0,608.000000,608.0,608.0,608.0,608.000000,1.0,608.0,3667.0,366.700000,1.0,608.0,3667.0,366.700000,448.0,713.0,1837.0,612.333333,448.0,713.0,1837.0,612.333333,1.0,509.0,1433.0,286.600000,...,NaN,NaN,NaN,NaN,0.016891,19.077749,27.273831,9.091277,0.016891,19.077749,27.273831,9.091277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.777050,29.777050,29.777050,29.777050,29.777050,29.777050,29.777050,29.777050,0.016891,29.777050,141.832371,14.183237,0.016891,29.777050,141.832371,14.183237,6.807646,31.784781,63.925901,21.308634,6.807646,31.784781,63.925901,21.308634,cash,cash,NaN,NaN,485.000000,0.680224,1.229924,0.204987,0.005025,1.054734,0.921114,1.074632,NaN,NaN,NaN,NaN,1.577889,0.791749,0.944796,0.944796,NaN,NaN,NaN,NaN,1.591518,1.054734,1.268683,0.634342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,485.000000,485.000000,485.000000,485.000000,0.002358,1.143868,0.573113,1.146226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,340.943773,13.733796

# Output in sql

In [10]:
print(fe.sql(data,
             table_name='data',
             feature_subset=[
#                  'MAX_TRANSACTION_AMOUNT_0D_INFD',
#                  'MIN_TRANSACTION_AMOUNT_0D_INFD'
             ]))

2020-12-09 11:54:00,633 - scoring.fefe_core.utils.logger - INFO -
            Creating SQL for SIMPLE features
            _________________________

2020-12-09 11:54:00,634 - scoring.fefe_core.utils.logger - INFO - Creating features in sql
2020-12-09 11:54:00,640 - scoring.fefe_core.utils.logger - WARNING - Missing config part: queries. Using default value:
2020-12-09 11:54:00,641 - scoring.fefe_core.utils.logger - INFO -
            Creating SQL for RATIO features
            _________________________

2020-12-09 11:54:00,643 - scoring.fefe_core.utils.logger - WARNING - Missing config part: queries. Using default value:
2020-12-09 11:54:00,646 - scoring.fefe_core.utils.logger - INFO - Creating features in sql
2020-12-09 11:54:00,650 - scoring.fefe_core.utils.logger - INFO - Creating features in sql
2020-12-09 11:54:00,662 - scoring.fefe_core.utils.logger - INFO - Number of created ratio variables: 64
2020-12-09 11:54:00,664 - scoring.fefe_core.utils.logger - INFO -
            Creating SQL for TIME SINCE features
            _________________________

2020-12-09 11:54:00,665 - scoring.fefe_core.utils.logger - INFO - Creating features in sql
2020-12-09 11:54:00,666 - scoring.fefe_core.utils.logger - WARNING - Missing config part: units. Using default value: ['days']
2020-12-09 11:54:00,667 - scoring.fefe_core.utils.logger - WARNING - Missing config part: segmentations. Using default value: ['None']

            select t.*,
                   ceil(TIME - TRANSACTION_TIME) as TIME_ORDER,
              from _TABLENAME_ t
             where 1=1




            -- MIN_AMNT_360D_FEE_LT_100
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_FEE < 100
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_FEE_LT_100
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_CLASS_ATM
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_CLASS = 'ATM'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_CLASS_ATM
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360

                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_CASH
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='cash'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_CASH
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_NULL
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE is null
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_NULL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_TRVL
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='travelling'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_TRVL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_HZRD
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='hazard'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_HZRD
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_GROCERIES
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='groceries'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_GROCERIES
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_CHARITY
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='charity'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_CHARITY
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_PRPS_LUXURY
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='luxury'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_PRPS_LUXURY
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_TYPE_DEBIT
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_TYPE='DEBIT'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_TYPE_DEBIT
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_TYPE_CREDIT
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_TYPE='CREDIT'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_TYPE_CREDIT
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_SÁZAVA
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Sázava'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_SÁZAVA
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_NULL
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE is null
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_NULL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_SKALICE
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Skalice'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_SKALICE
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_MRCHOJEDY
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Mrchojedy'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_MRCHOJEDY
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_ÚŽICE
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Úžice'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_ÚŽICE
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_TALMBERK
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Talmberk'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_TALMBERK
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_RATAJE
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Rataje'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_RATAJE
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_360D_TNX_PLACE_LEDEČKO
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PLACE='Ledečko'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_360D_TNX_PLACE_LEDEČKO
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_FEE_LT_100
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_FEE < 100
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_FEE_LT_100
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_CLASS_ATM
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_CLASS = 'ATM'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_CLASS_ATM
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999

                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_CASH
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE='cash'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_CASH
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_NULL
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE is null
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_NULL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_TRVL
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE='travelling'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_TRVL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_HZRD
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE='hazard'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_HZRD
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_GROCERIES
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE='groceries'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_GROCERIES
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_CHARITY
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE='charity'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_CHARITY
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_PRPS_LUXURY
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PURPOSE='luxury'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_PRPS_LUXURY
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_TYPE_DEBIT
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_TYPE='DEBIT'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_TYPE_DEBIT
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_TYPE_CREDIT
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_TYPE='CREDIT'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_TYPE_CREDIT
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_SÁZAVA
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Sázava'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_SÁZAVA
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_NULL
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE is null
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_NULL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_SKALICE
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Skalice'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_SKALICE
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_MRCHOJEDY
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Mrchojedy'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_MRCHOJEDY
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_ÚŽICE
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Úžice'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_ÚŽICE
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_TALMBERK
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Talmberk'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_TALMBERK
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_RATAJE
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Rataje'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_RATAJE
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MIN_AMNT_TNX_PLACE_LEDEČKO
            select
            CUSTOMER_ID,

            min(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 999999
                         and TRANSACTION_PLACE='Ledečko'
                        then TRANSACTION_AMOUNT
                        end)
             as MIN_AMNT_TNX_PLACE_LEDEČKO
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MAX_AMNT_360D_FEE_LT_100
            select
            CUSTOMER_ID,

            max(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_FEE < 100
                        then TRANSACTION_AMOUNT
                        end)
             as MAX_AMNT_360D_FEE_LT_100
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MAX_AMNT_360D_TNX_CLASS_ATM
            select
            CUSTOMER_ID,

            max(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_CLASS = 'ATM'
                        then TRANSACTION_AMOUNT
                        end)
             as MAX_AMNT_360D_TNX_CLASS_ATM
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MAX_AMNT_360D
            select
            CUSTOMER_ID,

            max(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360

                        then TRANSACTION_AMOUNT
                        end)
             as MAX_AMNT_360D
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MAX_AMNT_360D_PRPS_CASH
            select
            CUSTOMER_ID,

            max(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE='cash'
                        then TRANSACTION_AMOUNT
                        end)
             as MAX_AMNT_360D_PRPS_CASH
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MAX_AMNT_360D_PRPS_NULL
            select
            CUSTOMER_ID,

            max(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360
                         and TRANSACTION_PURPOSE is null
                        then TRANSACTION_AMOUNT
                        end)
             as MAX_AMNT_360D_PRPS_NULL
            from data
            group by CUSTOMER_ID
            order by CUSTOMER_ID;


            -- MAX_AMNT_360D_PRPS_TRVL
            select
            CUSTOMER_ID,

            max(case when TIME_ORDER >= 0
                         and TIME_ORDER <= 360